
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

li a:hover {
  color: #137FEC;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #e0e3de; 
    border-bottom: 2px solid #d1d5db;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
    position: relative;
    z-index: 10; 
}

.bloc-logo {
  display: flex;
  align-items: center; 
  gap: 15px; 
}

.texte-logo h1 {
  font-size: 24px;
  color: #333;
  margin: 0; 
  cursor: pointer;
}

.texte-logo h1:hover {
  color: #137FEC;
}

.texte-logo p {
  font-size: 14px;
  color: #666;
  margin: 5px 0 0 0;
  font-weight: normal; 
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}


.btn-support {
    background-color: black;
    color: #F1F5F9 !important;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    transition: 0.3s;
}

.btn-support:hover {
  background-color: #137FEC;
  color: white !important;
}

.inscr {
  background-color: #e0e3de; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 50px 20px;
}

.inscr h1, .inscr h5 {
  margin: 5px 0;
  text-align: center;

}
 
.inscr h5 {
  color: #888;
  margin-bottom: 30px;
  font-size: 13px; 
  font-weight: normal; 
  text-align: center;


}

.inscr h1 {
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-card {
  background-color:#f1f3f0; 
  width: 100%;
  max-width: 550px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  width: 100%;
}

.ligne-horizontale {
  display: flex;
  flex-direction: row;
  gap: 15px; 
  width: 100%;
}

.pass, .Cpass {
  flex: 1; 
}

.champ-formulaire {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  
}

.champ-formulaire label {
  font-weight: bold;
  font-size: 14px;
  color: #3f4756; 
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  margin-top: 5px;

    text-align: left;
   align-items: flex-start;

   text-indent: 20px;
  
}

.boite-securite {
  display: flex;
  align-items: center; 
  background-color:#dce7f6 ; 
  border: 1px solid #d1dbff; 
  border-radius: 10px; 
  padding: 15px 20px;
  gap: 15px; 
  width: 100%;
  box-sizing: border-box;
}


.boite-securite i {
  color: #137FEC; 
  font-size: 20px;
}


.boite-securite p {
  color: #333333;
  font-size: 12px;
  margin: 0;
  text-align: left;
  line-height: 1.5;
}

.champ-formulaire > input {
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background-color:#ffff;
}


.input-icon {
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-radius: 30px;
  padding: 0 20px;
}

.input-icon i {
  color: #888;
  font-size: 16px;
  margin-right: 15px; 
}

.input-icon input {
  flex-grow: 1; 
  background: transparent;
  padding: 15px 0;
  border: none;
  outline: none;
  width: 100%;
  
}


.FIN {
  margin-top: 15px;
  padding: 15px;
  background-color: #137FEC;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  text-align: center;
  width: 100%;
}

.FIN:hover {
  background-color: #0e62b8;
  color: white;
}

.securite {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  color: #6b7280;
}

footer {
  background-color:#e0e3de;
  padding: 30px 20px;
  text-align: center;
  border-top: 1px solid #d1d5db;position: relative;
    z-index: 100;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

footer ul li a {
  color: #5c677d;
  font-size: 14px;
}

footer ul li a:hover {
  color: #137FEC;
}

footer div {
  color: #888;
  font-size: 12px;
}